 #table tr {
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: rgb(235, 242, 224);
        }

        #table {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(235, 242, 224);
            width: 100%;
        }

            #table td, #table th {
                padding: 5px 10px;
                font-size: 12px;
                font-family: Verdana;
                color: rgb(149, 170, 109);
                text-align: center;
            }

            #table tr:nth-child(even) {
                background: rgb(230, 238, 214);
            }

            #table tr:nth-child(odd) {
                background: #FFF;
            }