<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="version" value="1.2"></add>
    <add key="author" value="Felix"></add>
    <add key="conStr" value="Server = (local); uid = sa; pwd = 123456; database = DB1"></add>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>